:root {
  --text-color: rgb(84, 84, 84);
  --divider-color: rgb(211, 211, 211);
  --primary-color: rgb(38, 149, 152);
}

html, body {
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
  margin: 0;
}

main { 
  display: grid;
  margin: 50px 50px 10px 50px;
  grid-template-columns: 1fr 240px;
  grid-template-areas: 
    "col-left col-right";
}

.col-left {
  grid-area: col-left;
  margin-right: 18px;
}

.col-right {
  grid-area: col-right;
  padding-top: 76px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin: 2px 0;
}

.subtitle {
  font-size: 14px;
  margin: 2px 0;
}

.left-border {
  border-left: 1px solid var(--divider-color);
  padding-left: 16px;
}

.text-body { 
  font-size: 11px;
}

ul.dashed {
  list-style-type: none;
  padding-left: 20px;
}

ul.dashed > li {
  text-indent: -10px;
  margin: 12px 0;
}

ul.dashed > li:before {
  content: "-";
  padding-right: 2px;
}

.header-primary {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 18px;
  margin: 14px 0;
}

p.header-second {
  font-weight: 600;
  font-size: 14px;
  margin: 2px 0;
}

p.header-third {
  font-weight: 400;
  font-size: 12px;
  margin: 2px 0;
}

p.header-fourth {
  font-weight: 400;
  font-size: 12px;
  color: var(--primary-color);
  margin: 2px 0;
}