:root {
 --black: #353535;
 --cyan: #3c6e71;
 --white: #ffffff;
 --silver: #d9d9d9;
 --gray: #284b63;
}



html, body {
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--silver);
}

nav {
  border-bottom: 1px solid var(--silver);
  display: flex;
  justify-content: center;
}

nav p {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  cursor: pointer;
  margin: 1em 0.5em;
  font-size: 0.8em;
}

nav p.active {
  border-bottom: 0.1em solid var(--gray);
  margin-bottom: 0.9em;
}

main {
}

footer {
  background-color: var(--gray);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
}