body {
    margin: 0;
}

#main {
    margin: 10px;
}

.nav {
    background-color: #0061ad;
    overflow: hidden;
    width: 100%;
}

.nav-content {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.title {
    float: left;
    margin-left: 14px;
}

.menu-btn {
    float: right;
    margin-right: 14px;
}

.entry-btn {
    background-color: #ffffff;
    border: none;
    color: #0061ad;
    text-align: center;
    width: 100%;
}

.entry-tbl {
    width: 100%;
}

.entry-tbl td {
    width: 50%;
}

.entry-tbl tr {
    text-align: center;
    vertical-align: middle;
    height: 30px;
}

input {
    border: 0px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #bbbbbb;
}
