body {
  margin: 0px;
  height: 100%;
}

#msg-list {
  height: 100%;
}

textarea {
  height: 16px;
  resize: none;
  padding: 10px;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

textarea:focus {
  outline: 0;
}